.timer{
    margin-top: 50px;
    width: 250px;
    height: 250px;
    background-color: rgb(30, 29, 29);
    border-radius: 125px;
    border: 2px solid white;
    color: white;
    display: grid;
    place-items: center;
}

.buttonStyle{
    background-color: rgb(30, 29, 29);
    cursor: pointer;
    position: relative;
    border: 0px;
    color: rgb(193, 141, 46);
    font-size: 1.5em;
}